header {
  background-color: brown;
  position: relative;
  margin-bottom: 3%;
}
header div {
  margin-left: 200px;
  padding-bottom: 40px;
}
header img {
  width: 100px;
}

header h1 {
  font-size: 4rem;
  color: white;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
header p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
  padding-bottom: 35px;
}

.image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.image img {
  padding: 0px;
  margin: 0px;
}
.mono img {
  display: inline;
  float: left;
}

.clubs p {
  text-align: center;
}
.container {
  display: flex;
}
.clubs {
  flex: 20%;
  text-align: center;
  float: left;
}
.clubs img {
  width: 120px;
}
.red {
  color: red;
}
h2 {
  font-size: 2rem;
  margin-top: 5px;
  padding-top: 4px;
}
.foot {
  background-color: brown;
  position: relative;
  overflow-y: hidden;
}
.foot h2 {
  font-size: 3.5rem;
  padding: 25px;
  color: white;
  word-spacing: 4px;
  margin-left: 150px;
  margin-right: 150px;
  letter-spacing: 5px;
}
@media screen and (max-width: 680px) {
  header div {
    margin-left: 0px;
  }
  header p {
    letter-spacing: normal;
    font-size: larger;
  }
  .foot h2 {
    margin-left: 0px;
    font-size: 2rem;
    margin-right: 0px;
  }
  .clubs img {
    width: 80px;
  }
}
